{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} check in item {% endblock %}</h1>

<form method="post">
    <select name="name">
        <option value="{{names[0]['name']}}" selected>{{names[0]["name"]}}</option>
        {% for name in names[1:] %}
          <option value="{{name['name']}}">{{name["name"]}}</option>
        {% endfor %}
      </select>
      
    <div class="form-group">
        <label for="item">Item</label>
        <input type="text" name="item"
               placeholder="Camera" class="form-control"
               value="{{ request.form['item'] }}"></input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}